@import '../variables';
@import '../mixins';

.#{$prefix}-ui-instagramsharebutton {
  @extend %ui-button;

  background-image: url('../../assets/skin-modern/images/brands/instagram.svg');
  font-size: 1.5em;

  &:hover {
    @include svg-icon-shadow;
  }
}

.#{$prefix}-ui-uicontainer {
  &.#{$prefix}-layout-max-width-600 {
    .#{$prefix}-ui-instagramsharebutton {
      font-size: 1.2em;
    }
  }
}
  